:root {
  --primary-color: #7c3aed;
  --secondary-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: var(--primary-color);
  color: var(--secondary-color);
}

nav {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 1rem;
}

a {
  color: var(--secondary-color);
}